/target
/classes
/checkouts
/out
/resources/public/js/*out*
/resources/public/js/dev*
/resources/public/js/prod*
/resources/public/css/dev*
/resources/public/css/prod*
pom.xml
pom.xml.asc
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
*.spvchain
*.wallet
/.repl*
/jdbc*
/depl/datomic-pro-0.9.5385/*