{:locale-id "ru"
 :voc       {:helpdesk/customer-dashboard              "Запросы в поддержку"
             :helpdesk/admin-dashboard                 "Админка поддержки"
             :browse-modes/new-support-request         "Новый запрос"
             :support-request/title                    "Тема"
             :support-request/body                     "Описание проблемы"
             :support-request/severity                 "Важность"
             :support-request/category                 "Категория"
             :support-request-statuses/open            "Открыт"
             :support-request-statuses/close           "Решен"
             :support-request-severities/trivial       "Незначительная"
             :support-request-severities/minor         "Малозначительная"
             :support-request-severities/medium        "Значительная"
             :support-request-severities/major         "Высокая"
             :support-request-severities/critical      "Критичная"
             :support-request-categories/generic       "Общие вопросы"
             :support-request-categories/finance       "Финансовые вопросы (оплата и пр.)"
             :support-request-categories/technical     "Технические трудности"

             :action.helpdesk/customer-dashboard       "Обращение в поддержку"
             :action.helpdesk/admin-dashboard          "Админка поддержки"
             :action.helpdesk/create-request           "Создание запроса в поддержку"
             :action.helpdesk/read-request             "Чтение запроса в поддержку"
             :action.helpdesk/customer-read-request    "Чтение запроса в поддержку"
             :action.helpdesk/update-request           "Изменение запроса в поддержку"
             :action.helpdesk/customer-update-request  "Изменение запроса в поддержку"
             :action.helpdesk/browse-requests          "Просмотр запросов в поддержку (адм.)"
             :action.helpdesk/customer-browse-requests "Просмотр запросов в поддержку"

             :sr-editor/save                           "Отправить"
             :sr-editor/cancel                         "Отменить"
             :sys/description                          "Служебные заметки"
             :helpdesk/support-request-title           "Запрос в поддержку"

             :app.helpdesk/helpdesk                    "Поддержка"
             :app.helpdesk/helpdesk-adm                "Поддержка адм"
             :app.helpdesk/read-link                   "Просмотреть"
             :app.helpdesk/edit-link                   "Изменить"
             :support-request/do-close                 "Закрыть"
             :support-request/do-reopen                "Открыть"
             }}

