[:div.faq
 [:h2.faq-title "Ответы на вопросы"]
 [:ul.faq-list
  [:li
   [:h3.question "Почему площадка платная?"]
   [:p.answer
    "На это есть несколько причин, из которых две наиболее весомы. Во-первых, ничего в этом мире не дается бесплатно, всегда приходится платить, и если не деньгами, то временем, вниманием, информацией, здоровьем, жизнью и так далее. Вот и нам приходится чем-то платить за разработку, поддержку и развитие сервиса."]
   [:p.answer
    "Во-вторых, площадка задумана как средство дискуссии интересных людей, а интересных людей, как правило, можно выявить по отсутствию такого качества личности как мелочность."]]
  [:li
   [:h3.question "За что я плачу?"]
   [:p.answer
    "Вы платите за возможность обсудить любой (любой – это важно) вопрос в публичной дискуссии, сохранив при этом анонимность (анонимность – это важно). Другими словами, Вы платите за то, что мы Вас не знаем, и никто Вас не знает пока Вы сами не решите открыть заинтересованным лицам это знание. Кто же конкретно заинтересован в сборе Ваших персональных данных, мы знать не можем. Вот лишь несколько из возможных вариантов: гос.структуры, Ваш руководитель, HR отдел на Вашем будущем месте работы, деловые партнеры и так далее."]]
  [:li
   [:h3.question "Каковы гарантии моей анонимности?"]
   [:p.answer
    "Ваша анонимность – в Ваших руках. Мы предоставляем возможность анонимного выражения мнений. Возможность эта обеспечена, во-первых, доступом к ресурсу через TOR, стало быть мы не сможем сохранить Ваш адрес, даже если нас заставят это делать. Во-вторых, оплата доступа осуществляется средством анонимного платежа, биткоинами, стало быть мы не сможем передать данные плательщика, даже если нас заставят это делать. В-третьих, мы не требуем от Вас никаких персональных данных, стало быть мы не сможем их предоставить по требованию кого бы то ни было."]]
  [:li
   [:h3.question "Каким образом можно получить биткоины?"]
   [:p.answer
    "Существует несколько способов сделать это. Раз Вы задаетесь этим вопросом, то способ майнинга – не для Вас. В таком случае проще всего купить необходимое количество биткоинов на одной из множества криптовалютных бирж, либо обменять в онлайн обменниках, которые, как биржи так и обменники, Вы легко найдете по запросу в Вашем любимом поисковике. Для Вашего удобства мы подобрали несколько готовых ссылок: "
    [:a {:href "https://exmo.com/" :target "blank"} "exmo.com"] ", "
    [:a {:href "https://btc-e.com/" :target "blank"} "btc-e.com"] ", "
    [:a {:href "http://advcash.com/" :target "blank"} "advcash.com"]]]
  [:li
   [:h3.question "Как происходит покупка доступа к площадке?"]
   [:p.answer
    "Для покупки следует выбрать более подходящий Вам период действия доступа (неделя / месяц / квартал / год) и уровень. После клика на кнопку КУПИТЬ, в случае первой покупки, Вам будет предложено выбрать логин, пароль и ник. Далее, Вам будет предложено произвести оплату в указанном размере на указанный биткоин-адрес. Как правило, оплата происходит быстро, в течение нескольких минут максимум. При получении оплаты для Вас будет автоматически создана учетная запись и осуществлен вход. В случае высокой нагрузки на сеть биткоин, платежная транзакция может длиться до получаса, не закрывайте окно браузера и не уходите со страницы оплаты до тех пор пока не увидите подтверждение, в противном случае ваш заказ будет отменен."]]
  [:li
   [:h3.question "Что такое \"открытые\", \"закрытые\" и \"премиум\" материалы?"]
   [:p.answer
    "Весь контент площадки сегментирован по категориям доступа:"]
   [:ul.answer
    [:li "Открытый – доступный к просмотру гостям;"]
    [:li "Премиум – гостям доступен только предпросмотр, пользователям – полный доступ;"]
    [:li "Закрытый – досупен только пользователям с уровнем доступа выше новичка."]]]
  [:li
   [:h3.question "Смогу ли я повысить уровень доступа до окончания оплаченного периода?"]
   [:p.answer
    "Да, Вы можете в любой момент приобрести повышенный или пониженный доступ на этой же странице. В этом случае стоимость расчитывается с учетом произведенных ранее платежей за неистекший период. Из стоимости вычитается текущий остаток, и вновь оплаченный доступ начинает действовать с момента получения оплаты в течение выбранного периода."]]
  [:li
   [:h3.question "Что делать если я потерял или забыл учетные данные?"]
   [:p.answer
    "Просто приобретите другую учетную запись. Механизм оживления забытых учетных записей в условиях отсутствия email, номеров телефонов и прочих контактов несколько отличается от обычных. Механизм этот нами продуман и будет реализован в ближайшем будущем."]]
  [:li
   [:h3.question "Почему цены указаны в долларах США?"]
   [:p.answer "Так сделано потому что доллар США является наиболее стабильной и востребованной на текущий момент валютой, что делает суммы номинированные в долларах понятными наибольшей части аудитории."]]
  [:li
   [:h3.question "Почему оплата осуществляется в биткоинах?"]
   [:p.answer "Чтобы сохранить Вашу анонимность."]]
  [:li
   [:h3.question "Как я могу с вами связаться?"]
   [:p.answer "Зарегистрированные пользователи могут обратится с запросом в поддержку через специальный раздел сайта."]]]]